@import './variable.styl'

.bg-light
  background-color $bg-light

.bg-success
  background-color $bg-success

.bg-warning
  background-color $bg-warning

.bg-danger
  background-color $bg-danger

.text-info
  color $text-info

.text-success
  color $text-success

.text-warning
  color $text-warning

.text-danger
  color $text-danger

.text-l
  color $text-l

.text-ll
  color $text-ll

.text-lll
  color $text-lll

.text-llll
  color $text-llll

.border-color-l
  border-color $border-color-l

.border-color-ll
  border-color $border-color-ll

.border-color-lll
  border-color $border-color-lll

.border-color-llll
  border-color $border-color-llll

.container-70
  padding-left 15%
  padding-right 15%

.el-transfer-panel
  width 400px !important
  height 60vh !important
  min-height 300px
  max-height 760px

  .el-transfer-panel__body
    padding-top 35px
    overflow-y scroll

    .el-transfer-panel__filter
      position absolute !important
      background white
      padding 15px 0
      z-index 100
      top 30px
      left 0
      right 0

  .el-checkbox-group
    overflow-y scroll !important

  .el-transfer-panel__list.is-filterable
    position absolute
    top 100px
    bottom 0
    height 80%
    left 0
    right 0
    padding-bottom 45px

.el-transfer__buttons
  .el-transfer__button
    display block !important
    margin 10px 0 !important
    width 100% !important

.el-drawer__header
  span
    outline none !important

.el-drawer
  outline none !important
  height 35% !important

.el-drawer__close-btn
  outline none !important

.impt_todo
  color $text-danger !important

.impt-3
  color $text-danger !important

.impt-2
  color $text-warning !important

.impt-1
  color $text-success !important

.impt-0
  color $text-info !important

.el-range-editor
  width 45% !important

.el-transfer-panel__footer
  .transfer-footer.el-button
    float right
    margin-right 5px
    margin-top 3px
