@import './variable.styl'

.bg-light
  background-color $bg-light

.bg-success
  background-color $bg-success

.bg-warning
  background-color $bg-warning

.bg-danger
  background-color $bg-danger

.text-info
  color $text-info

.text-success
  color $text-success

.text-warning
  color $text-warning

.text-danger
  color $text-danger

.text-l
  color $text-l

.text-ll
  color $text-ll

.text-lll
  color $text-lll

.text-llll
  color $text-llll

.border-color-l
  border-color $border-color-l

.border-color-ll
  border-color $border-color-ll

.border-color-lll
  border-color $border-color-lll

.border-color-llll
  border-color $border-color-llll

.container-70
  padding-left 15%
  padding-right 15%

.el-transfer-panel
  width 400px !important
  height auto
  min-height 300px
  max-height 760px

.el-transfer__buttons
  .el-transfer__button
    display block !important
    margin 10px 0 !important
    width 100% !important

.el-drawer__header
  span
    outline none !important

.el-drawer
  outline none !important
  height 35% !important