$bg-light = #ecf0f1
$bg-success = #67C23A
$bg-warning = #E6A23C
$bg-danger = #F56C6C
$text-info = #909399
$text-success = #67C23A
$text-warning = #E6A23C
$text-danger = #F56C6C
$text-l = #303133
$text-ll = #606266
$text-lll = #909399
$text-llll = #C0C4CC
$border-color-l = #DCDFE6
$border-color-ll = #E4E7ED
$border-color-lll = #EBEEF5
$border-color-llll = #F2F6FC
